includes:
    # - vendor/larastan/larastan/extension.neon
    - phpstan-baseline.neon

parameters:
    treatPhpDocTypesAsCertain: false
    paths:
        - src/
        - tests/

    # Level 9 is the highest level
    level: 5
